<mat-toolbar color="primary">
  <span>Gestión Logistica</span>
  <span><a mat-flat-button color="primary" routerLinkActive="active" routerLink="/home">Inicio</a>
  </span>
  <span><a mat-flat-button color="primary"  routerLinkActive="active" routerLink="/login">Login</a></span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
